*.jar
*.class
gen-java/
gen-csharp/
*.yip
YaskawaExtension.dll
/.vs
/DemoExtension21-csharp
/csharp/.vs
/csharp/obj
/csharp/net6.0/YaskawaExtension.pdb
/csharp/net6.0/SDK.GeneratedMSBuildEditorConfig.editorconfig
/csharp/net6.0/SDK.csproj.FileListAbsolute.txt
/csharp/net6.0/SDK.csproj.CoreCompileInputs.cache
/csharp/net6.0/SDK.csproj.AssemblyReference.cache
/csharp/net6.0/SDK.assets.cache
/csharp/net6.0/SDK.AssemblyInfoInputs.cache
/csharp/net6.0
/csharp/bin
/TestExtension/csharp/netcoreapp2.2/linux-x64
/csharp/netcoreapp2.2
