*.jar
*.class
gen-java/
gen-csharp/
*.yip
YaskawaExtension.dll
/.vs
/DemoExtension21-csharp
/csharp/.vs/SDK
/csharp/obj/SDK.csproj.nuget.g.targets
/csharp/obj/SDK.csproj.nuget.g.props
/csharp/obj/SDK.csproj.nuget.dgspec.json
/csharp/obj/project.nuget.cache
/csharp/obj/project.assets.json
/csharp/obj
/csharp/net6.0/YaskawaExtension.pdb
/csharp/net6.0/SDK.GeneratedMSBuildEditorConfig.editorconfig
/csharp/net6.0/SDK.csproj.FileListAbsolute.txt
/csharp/net6.0/SDK.csproj.CoreCompileInputs.cache
/csharp/net6.0/SDK.csproj.AssemblyReference.cache
/csharp/net6.0/SDK.assets.cache
/csharp/net6.0/SDK.AssemblyInfoInputs.cache
/csharp/net6.0
/csharp/bin/Release/net6.0/YaskawaExtension.pdb
/csharp/bin/Release/net6.0/YaskawaExtension.deps.json
/csharp/bin/Release/net6.0
